html,
body,
#root {
    width: 100%;
}

body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
    margin: 0;
}

.appCont {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.bgCont {
    z-index: 0;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: url("https://d17vv5kmac4tms.cloudfront.net/bgImage2.png");
    background-size: contain;
}
