html,
body,
#root {
    width: 100%;
}

body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
    margin: 0;
}

.appCont {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.bgCont {
    z-index: 0;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: url("https://d17vv5kmac4tms.cloudfront.net/bgImage2.png");
    background-size: contain;
}

@font-face {
    font-family: "aAbstractGroovy";
    src: url(../fonts/aAbstractGroovy.otf) format("opentype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: "kageRetro";
    src: url(../fonts/kageRetro.otf) format("opentype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}