.categoryCont {
    display: none;
}

.categoryCont--active {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Desktop Styling ... will add breakpoints to adjust based on dimensions */
@media (min-width: 480px) {
    .categoryCont--active {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}