.popupBackground {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(5, 5, 5, 0.5);
}

.popupCont {
    height: 100%;
    display: flex;
}

.popupImg {
    border-radius: 2rem;
    width: 100%;
    height: auto;
    max-height: 90%;
}

.popupContBackground {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popupHelpCont {
    margin: 0 4rem;
}

.popupHelpCont {
    text-align: center;
    font-weight: 500;
}

.closePopUpCont {
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
}

.popupHeaderCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0; 
}

.popupTitle {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0 1rem;
}

.popupPrice {
    margin: 1rem 0;
    font-size: 20px;
    font-weight: 600;
}

.popupLocationCont {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gMapsFwdBtn {
    display: flex;
    align-items: center;
    color: black;
    padding: 0 10px;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #030303;
    color: #ffffff;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    padding: 10px;
}

.popDirectionsIcon {
    margin-right: 10px;
}


.popupStoreCont {
    display: flex;
}

.popupStoreName {
    font-size: 20px;
}

.popupStoreAddy {
    margin: 1rem 0;
    padding: 0 5rem;
    text-align: center;
}

.popupImgCont {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.qrCodeCont {
    display: flex;
    justify-content: center;
}

.qrCodeDisplay {
    width: 70vw !important;
    height: 70vw !important;
    max-width: 300px;
    max-height: 300px;
}

@media (max-width: 480px) {

    .popupCont {
        flex-direction: column;
        overflow-y: scroll;
    }

    .popupContBackground {
        width: calc(90% - 2rem);
        height: 80%;
    }
}




@media (min-width: 480px) {
    .popupContBackground {
        width: min-content;
        height: 80%;
    }

    .popupHeaderCont {
        margin: 1rem 0;
    }

    .popupCont {
        flex-direction: row;
    }

    .popupInfoCont {
        overflow-y: scroll;
    }

    .popupLocationCont {
        margin: 0;
    }
    
    .popupImg {
        width: 30vw;
    }
}
