.popupBackground {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(5, 5, 5, 0.5);
}

.popupCont {
    height: 100%;
    display: flex;
}

.popupImg {
    border-radius: 2rem;
    width: 100%;
    height: auto;
    max-height: 90%;
}

.popupContBackground {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popupHelpCont {
    margin: 0 4rem;
}

.popupHelpCont {
    text-align: center;
    font-weight: 500;
}

.closePopUpCont {
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
}

.popupHeaderCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 2rem 1rem;
}

.popupTitle {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}

.popupPrice {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.popupMissingButton {
    margin-top: 2rem;
    background-color: rgb(239, 64, 64);
    color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    border: 3px solid transparent;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.popupMissingButton--clicked {
    background-color: rgb(243, 138, 138);
    border: 3px solid rgb(210, 207, 207);
}

.popupMissingCount {
    padding: 1rem;
    font-style:oblique;
}

.popupLocationCont {
    margin: 2rem 0;
    padding: 1rem 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    background-color: #ececec;
    width: 60%;
    flex-direction: column;
    align-items: center;
}

.gMapsFwdBtn {
    display: flex;
    align-items: center;
    color: black;
    padding: 0 10px;
    border-radius: 1rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: #030303;
    color: #ffffff;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    padding: 10px;
}

.popDirectionsIcon {
    margin-right: 10px;
}

.popupStoreCont {
    display: flex;
    align-items: center;
}

.locationIcon {
    margin: 0 10px;
}

.popupStoreName {
    margin-left: 5px;
    font-size: 20px;
}

.popupStoreAddy {
    margin: 1rem 0;
    text-align: center;
}

.popupImgCont {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrCodeCont {
    display: flex;
    justify-content: center;
}

.qrCodeDisplay {
    width: 70vw !important;
    height: 70vw !important;
    max-width: 300px;
    max-height: 300px;
}

@media (max-width: 480px) {
    .popupCont {
        flex-direction: column;
        overflow-y: scroll;
    }

    .popupContBackground {
        width: calc(90% - 2rem);
        height: 80%;
    }
}

@media (min-width: 480px) {
    .popupContBackground {
        width: min-content;
        height: 80%;
    }

    .popupMissingButton:hover {
        cursor: pointer;
        background-color: rgb(243, 138, 138);
        border: 3px solid rgb(239, 234, 234);
    }

    .popupHeaderCont {
        margin: 1rem 0;
    }

    .popupCont {
        flex-direction: row;
    }

    .popupInfoCont {
        overflow-y: scroll;
    }

    .popupImg {
        width: 30vw;
    }
}
