.formBackground {
    padding: 2rem;
    height: calc(100% - 4rem);
    position: relative;
    z-index: 1;
}

.formCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    background-color: #ffffff;
    padding: 1rem;
}

.formHeader {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.priceLabelHelp {
    width: calc(100% - 2rem);
    padding: 0rem 2rem;
}

.inputCont {
    padding: 1rem calc(2rem + 10px);
    width: calc(100% - 2rem + 20px);
    display: flex;
    align-items: center;
}

.priceCont {
    padding: 1rem calc(2rem + 10px) 0.5rem calc(2rem + 10px);
}

.priceLabelHelp {
    font-style: italic;
    color: #adadad;
    margin-bottom: 1rem;
    font-size: 14px;
}

.inputCont > * {
    margin: 0 10px;
}

.formInput {
    width: 80%;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    border: 1px solid #e0e0e0;
    padding: 0 1rem;
}

.formInput--error {
    border: 1px solid #fd2d2d;
}

.formSelect {
    padding: 0 10px;
}

.submitCont {
    margin: 2rem 0;
}

.formSubmitBtn {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid #c2c2c2;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    font-size: 16px;
}

.submitMsgCont {
    position: absolute;
    width: calc(100% - 4rem);
    top: 40%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.submitMsgCloseBtn {
    position: absolute;
    bottom: 55%;
}

.submitMsgText {
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    width: min-content;
    white-space: nowrap;
    padding: 1rem;
    border-radius: 1rem;
    margin: 4rem 0;
}

.loadingCont {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(30, 30, 30, 0.5);
}

.loadingAnim {
    color: #ffffff;
}

.loadingText {
    margin: 10px 0 100px 0;
    color: #ffffff;
}

.submitMsgText--success {
    background-color: #a6fca5;
}

.submitMsgText--failure {
    background-color: #ff4141;

}