.slideCont {
    width: 80vw;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    background-color: rgb(252, 252, 252);
}

.slideImgCont {
    display: flex;
    justify-content: center;
}

.slideImg {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
}

.slideInfoCont {
    width: calc(100% - 2rem);
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.slideHeaderCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.slideTitle {
    font-size: 22px;
    padding-right: 10px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.slidePrice {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.slideTimeStampCont {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.slideTimeStamp {
    margin-left: 5px;
    font-weight: 500;
}

.slideStoreCont {
    justify-content: center;
    align-items: center;
    display: flex;
}

.slideStore {
    font-weight: 800;
}
