.sliderHeaderCont {
    margin-bottom: 2rem;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.categoryListCont {
    display: flex;
    background-color: transparent;
    padding: 15px 25px;
    overflow: hidden;
    overflow-x: scroll;
    max-width: 100%;
}

.categoryTitleCont {
    background-color: #f6f5f5;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.categoryTitle {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.categorySearchCont {
    display: flex;
    align-items: center;
}
.categorySearchIcon {
    color: #3c3c3c;
}

.categorySearchBox {
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    border: none;
    background-color: #f4f4f4;
}

.categorySearchBox:focus {
    outline: none;
}

.categoryButton,
.categorySearchCont {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    border-radius: 2rem;
    white-space: nowrap;
    border: 1px transparent solid;
    padding: 8px 12px;
    margin: 0 2px;
}

.categoryButton--active {
    background-color: #d9d9d9;
    border: 1px #c2c2c2 solid;
}

.categorySearchCont--active,
.categorySearchCont--active > input {
    background-color: #d9d9d9;
}
